VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_API_KEY=
VITE_CANVA_API_KEY=

# Supabase Storage (for images and videos)
VITE_SUPABASE_URL=https://djspyyyihyxwtmduoolj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Pph0V6rjR2PR3oGe87gikA_qo-F__TU
